

*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	background: url(img/fondo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container{
	width: 95%;
	margin: auto;
}

h1{
	text-align: center;
	color: #473E30;
	font-family: sans-serif;
}

.text{
	text-align: center;
	color: #473E30;
	font-family: sans-serif;
	font-size: 16px;
	margin-top: -16px;
	margin-bottom: 25px;
}

nav{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #473E30;
	border-bottom: 1px solid #473E30;
}

nav ul{
	padding-left: 0;
	text-align: center;
}

nav ul li{
	display: inline-block;
	margin-left: 15px;
}

nav ul li a{
	color: #473E30;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	transition: color 0.4s ease 0s;
}

nav ul li a:hover{
	color: #65846D
}

.info-principal img{
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	max-width: 100%;
}

.info-principal p{
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
}

footer{
	background:#473E30;
}

.col{
	width: 100%;
	text-align: center;
	padding: 3px 0px 3px 0px;
}

.col-1{
	font-size: 30px;
	font-family: sans-serif;
	color: #fff;
	font-weight: bold;
}

.col-1 p{
	margin-bottom: 0;
}

.col-2 p{
	margin-bottom: 0;
}

.col-2{
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
}

.col-3{
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
}

.col-3 img{
	margin-left: 5px;
	opacity: 0.8;
}

.col-3 img:hover{
	opacity: 1;
	cursor: pointer;
}

@media screen and (min-width: 690px){
	.col{
		width: 32%;
		display: inline-block;
		vertical-align: middle;
		margin-left: 1%;
	}
	.col-1 p{
		margin-bottom: 30px;
	}
}